In [40]:
#variáveis do tipo str
nome1= 'Lucas'         
nome2 = 'Bruna'
nome3 = 'Maria'
nome4 = 'João'

nome11, nome12, nome13 = 'josé' , 'leandro', 'juliana'

#variáveis do tipo str
cargo1 = 'Analista'
cargo2 = 'Coordenador'
cargo3 = 'Diretor'
cargo4 = 'Especialista'

#variáveis do tipo int
idade1 = 28
idade2 = 29
idade3 = 20
idade4 = 32

#variáveis do tipo float
salario1 = 1900.10
salario2 = 3200.15
salario3 = 4500.07
salario4 = 3020.58

x = 10
y = 20
z = 30
nome= "Lucas"
cargo = 'Analista'

In [41]:
somasalarios = salario1 + salario2
somadesalarioAlternativo = sum([salario1,salario2,salario3])
concatenarStrings = nome+ ' ' +cargo  #unindo textos

print('Resultado das operações:')
print(str(somasalarios))
print(str(somadesalarioAlternativo))
print(concatenarStrings)

Resultado das operações:
5100.25
9600.32
Lucas Analista

In [42]:
variavelteste='10.1'
soma = float(variavelteste) + x
soma

20.1

In [43]:
print('Formatando a impressão\nNome do servidor: {}\nCargo: {}\nSalario: {}'.format(nome1,cargo1,salario1))

Formatando a impressão
Nome do servidor: Lucas
Cargo: Analista
Salario: 1900.1


Manuseando Listas

In [44]:
listavazia = []
lista1= [nome1,nome2,nome3,nome4,'José']
lista2= [cargo1,cargo2,cargo3,cargo4,'Supervisor']
lista3mista = [[idade1,salario1],[idade2,salario2]]

print(lista1)
print(lista2)
print(lista3mista)

['Lucas', 'Bruna', 'Maria', 'João', 'José']
['Analista', 'Coordenador', 'Diretor', 'Especialista', 'Supervisor']
[[28, 1900.1], [29, 3200.15]]

In [45]:
lista1

['Lucas', 'Bruna', 'Maria', 'João', 'José']

In [46]:
lista1[1]

'Bruna'

In [47]:
lista2[0:3]

['Analista', 'Coordenador', 'Diretor']

In [48]:
lista3mista[0]

[28, 1900.1]

In [49]:
lista3mista[0][1]

1900.1

In [50]:
listavazia = []
listavazia.append(lista1)
listavazia.append(lista2)
listavazia.append(10)

print(listavazia)
print('\nPrimeiro objeto da listavazia: {}'.format(listavazia[0]))
print('Valor contido na posição 3 da lista que está na posição 1 da listavazia: {}'.format(listavazia[1][3]))

[['Lucas', 'Bruna', 'Maria', 'João', 'José'], ['Analista', 'Coordenador', 'Diretor', 'Especialista', 'Supervisor'], 10]

Primeiro objeto da listavazia: ['Lucas', 'Bruna', 'Maria', 'João', 'José']
Valor contido na posição 3 da lista que está na posição 1 da listavazia: Especialista

In [51]:
listaIdade = [idade1,idade2]
listaIdade.append(idade3)
listaIdade.append(idade4)

#crie uma lista para armazenar os salários 
#nos mesmos moldes que a listaIdade criada acima
#e depois a imprima-a

listaIdade

[28, 29, 20, 32]

In [52]:
listaSalarios = [salario1, salario2]
listaSalarios.append(salario3)
listaSalarios.append(salario4)

listaSalarios

[1900.1, 3200.15, 4500.07, 3020.58]

Operadores lógicos e condicional

In [53]:
if listaIdade[3]>30:
  print('o Valor da posição 3 da listaIdade é Maior que 30')
elif listaIdade[3]==30:
  print('o Valor da posição 3 da listaIdade é IGUAL que 30')
else:
  print('o Valor da posição 3 da listaIdade é MENOR que 30')

o Valor da posição 3 da listaIdade é Maior que 30

Laço de repetição

In [54]:
listaIdade.append(31)
for novavariavel in listaIdade:
  if novavariavel<28:
    print('{} é MENOR que 28'.format(novavariavel))
  elif ((novavariavel>=28) & (novavariavel<30)):
    print('{} está entre 28 e 30'.format(novavariavel))
  elif novavariavel==32:
    print('{} é IGUAL a 32'.format(novavariavel))
  else:
    print('{} é MAIOR que 30 e diferente de 32'.format(novavariavel))

28 está entre 28 e 30
29 está entre 28 e 30
20 é MENOR que 28
32 é IGUAL a 32
31 é MAIOR que 30 e diferente de 32

In [55]:
for variavelposicao in range(0,4):
  print('imprimindo o valor:{}'.format(lista1[variavelposicao])) #lisat1[1]

imprimindo o valor:Lucas
imprimindo o valor:Bruna
imprimindo o valor:Maria
imprimindo o valor:João